

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>







<body>
<div th:replace="fragments/header :: myheader"></div>




<div align = "center" paddingtop = "30px">
     <p> <input type="text" /></p>
     
</div>




<div th:replace="fragments/footer" :: myfooter></div>



     
     
     


    
    
    
    
    
    
    
   
   
   
   
   



   


    
</html> 